
nav {
	z-index:1000;
	overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
	 left:0;
   width: 100%;
	 box-shadow: 0px 2px 3px black;
}

nav a {
	float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 25px;
	margin-left: 15px;
}

nav a,
nav a:after,
nav a:before {
  transition: all .5s;
}
nav a:hover {
  color: white;
}

nav.stroke a,
nav.fill a {
  position: relative;
}

nav.stroke a:after,
nav.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FDA02A;
  height: 3px;
}

nav.stroke a:hover:after {
  width: 100%;
	height: 2px;
}



body {
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}

.Accueil{
	display: flex;
	flex-direction: row;
}
.Accueil img {
width: 350px;
border-radius: 50%;
margin-left: 10%;
margin-top: 15%;
}

.textAccueil {
margin-left: 100px;
margin-top: 15%;
}

.textAccueil h1{
font-size: 60px;
text-decoration: underline #FDA02A;
animation-duration: 3s;
animation-name: slidein;
}

.textAccueil h2{
font-size: 40px;
animation-duration: 3s;
animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#separationProfil img{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 15%;
}

#Profil h1{
	text-align: center;
	font-size: 40px;
	margin-top: 5%;
	text-decoration: underline #FDA02A;
}

.Profil_Text{
	display: flex;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

#Profil h2{
	text-align: center;
	font-size: 30px;
	margin-top: 5%;
	text-decoration: underline #FDA02A;
}

.etudesExp{
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	margin-right: auto;
}

.etudes h3{
	font-size: 25px;
	text-decoration: underline 2px #FDA02A;
}

.etudes{
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.experience{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.experience h3{
	font-size: 25px;
	text-decoration: underline 2px #FDA02A;
}

.blocEtu {
	border-left: solid #FDA02A;
	margin-bottom: 3%;
}

.blocEtu h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 1%;
	font-size: 22px;
	text-decoration: underline;
}

.blocEtu h5 {
	margin-top: 0px;
	margin-left: 1%;
	font-size: 18px;
	margin-bottom: 0px;
}

.blocEtu p {
	margin-left: 1%;
	font-size: 16px;
	font-style: italic;
}
#Profil button{
	display: flex;
	margin:auto;
	margin-top: 3%;
	width: 15%;
	border-radius: 20px;
	background-color: #333;
	border: none;
	transition: .3s all ease-in-out;
}

#Profil button:hover{
	transform: scale(1.1);
	background-color: #FDA02A;
	border: none;
	box-shadow: 2px 2px 4px  grey;
	transition: .3s all ease-in-out;
}

#Profil button a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	display: flex;
	margin: auto;
	margin-top: 4px;
	margin-bottom: 4px;
}

#separationProjets img{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 15%;
}

.Projets h1{
	text-align: center;
	font-size: 40px;
	margin-top: 5%;
	text-decoration: underline #FDA02A;
}
